*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# template.yml is a compilation target for CDK
template.yml
template-*.yml

# Using context like process.env.CDK_DEFAULT_ACCOUNT seems to generate this
cdk.context.json